<a href="https://colab.research.google.com/github/BrennanPursell/Packt_ADSW/blob/main/MI462_Applied_AI_Pytorch_on_Colab_Week_1_Assignment_Brennan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pytorch-Colab-Wk1_Assignment_Brennan

In [ ]:
import pandas as pd

df = pd.read_csv('/content/AI_in_Journalism.csv')

In [ ]:
df

                     Article ID  ... Other (positive)
0      4fd1cbc98eb7c8105d701286  ...               {}
1      4fd1cbc98eb7c8105d701286  ...               {}
2      4fd1cbc98eb7c8105d701286  ...               {}
3      54b0793b7988100e21965770  ...               {}
4      54b0793b7988100e21965770  ...               {}
...                         ...  ...              ...
17068  566b44b87988100e80618c8f  ...               {}
17069  566b44b87988100e80618c8f  ...               {}
17070  566e112d79881065df1e156e  ...               {}
17071  566e112d79881065df1e156e  ...               {}
17072  566e112d79881065df1e156e  ...               {}

[17073 rows x 27 columns]

In [ ]:
df.describe()

       WorkTimeInSeconds  ...  Work (positive)
count       17073.000000  ...     17073.000000
mean          344.593510  ...         0.049376
std           449.418006  ...         0.216659
min             6.000000  ...         0.000000
25%            51.000000  ...         0.000000
50%           172.000000  ...         0.000000
75%           462.000000  ...         0.000000
max          3521.000000  ...         1.000000

[8 rows x 19 columns]

Stats on AI Mood and AI Relevance show wider variation than many of the ensuing 0-1 categorical attributes, but that makes sense given the range of values in said columns. Huge variation (relatively speaking) in WorkTimeInSeconds might be too wide to be useful.

In [ ]:
df['AI Relevance']

0        5
1        5
2        5
3        4
4        4
        ..
17068    3
17069    2
17070    1
17071    1
17072    1
Name: AI Relevance, Length: 17073, dtype: int64

In [ ]:
df['WorkTimeInSeconds']

0        1472
1          49
2          66
3        3053
4          25
         ...
17068      47
17069     378
17070      28
17071     331
17072     240
Name: WorkTimeInSeconds, Length: 17073, dtype: int64